body{
  margin: 0;
  background: #303030;
  color:white;
}

.title{
  text-align: center;
  margin-top: 150px;
}

.title-sub{
  text-align: center;
}

.navbar {
  background-color: #f8f9fa; /* 원하는 배경색 */
  padding: 10px; /* 여백 */
  display: flex; /* 링크를 가로로 나열 */
  gap: 10px; /* 링크 사이의 간격 */
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

/* 첫 번째 버튼 그룹 전체 숨기기 (오늘, 이전, 다음) */
.rbc-toolbar .rbc-btn-group:nth-child(1) button {
  display: none !important;
}

/* 활성화된 (rbc-active) 버튼 숨기기 */
.rbc-toolbar .rbc-btn-group .rbc-active {
  display: none !important;
}
/* 나머지버튼 숨김 */
.rbc-toolbar button {
  display: none !important;
}