body{
  margin: 0;
  background: #303030;
  color:white;
}

.title{
  text-align: center;
  margin-top: 150px;
}

.title-sub{
  text-align: center;
}

.navbar {
  background-color: #f8f9fa; /* 원하는 배경색 */
  padding: 10px; /* 여백 */
  display: flex; /* 링크를 가로로 나열 */
  gap: 10px; /* 링크 사이의 간격 */
}
.navbar span{
  background-color: #f8f9fa; /* 원하는 배경색 */
  padding: 10px; /* 여백 */
  display: flex; /* 링크를 가로로 나열 */
  color:#303030;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
.nav-button {
  padding: 10px 15px; /* 버튼 패딩 */
  border-radius: 5px; /* 모서리 둥글게 */
  color: white; /* 텍스트 색상 */
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
  font-weight: bold; /* 텍스트 두껍게 */
  transition: background-color 0.3s; /* 배경색 변화 효과 */
}

.home {
  background-color: #007bff; /* 홈 버튼 색상 */
}

.club-event {
  background-color: #28a745; /* 클럽 이벤트 버튼 색상 */
}

.gallery {
  background-color: #ffc107; /* 갤러리 버튼 색상 */
}

.about-us {
  background-color: #17a2b8; /* 우리에 대해 버튼 색상 */
}

.user-login {
  background-color: #dc3545; /* 사용자 버튼 색상 */
}

/* 첫 번째 버튼 그룹 전체 숨기기 (오늘, 이전, 다음) */
.rbc-toolbar .rbc-btn-group:nth-child(1) button {
  display: none !important;
}

/* 활성화된 (rbc-active) 버튼 숨기기 */
.rbc-toolbar .rbc-btn-group .rbc-active {
  display: none !important;
}
/* 나머지버튼 숨김 */
.rbc-toolbar button {
  display: none !important;
}

/*카드 css*/
.cards-container {
  display: flex; /* Flexbox 사용 */
  flex-wrap: wrap; /* 카드가 공간이 없을 때 다음 줄로 감싸기 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  gap: 16px; /* 카드 사이의 간격 */
}

/* 소개글css */
.mainbox {
  width: 610px;
  padding: 30px;
  margin: 30px;
  margin-right:auto;
  margin-left: auto;
  border: 1px soild black;
  box-shadow: 0 1px 20px 0 reba(0, 0, 0, 0.2);
}
.mainbox intro_title{
  font-size:16px;
  color:#7c7c7c;
  font-weight: bold;
  float: right;
  line-height: 16px;
}
.mainbox subtext{
  font-size: 13px;
  color:#3a3a3a;
  padding-left:16px;
  margin-bottom:8px;
}